/* Write your CSS here */

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.bg-container {
  height: 100vh;
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.heading {
  color: #ffffff;
  font-size: 45px;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 70vw;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  height: 140px;
  width: 250px;
  background-color: #fddddb;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.name {
  font-size: 26px;
}

.button {
  height: 38px;
  padding: 20px;
  border-width: 0;
  border-radius: 10px;
  background-color: #ffffff;
  color: #dd1264;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .card {
    height: 200px;
    width: 300px;
  }

  .name {
    font-size: 38px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .nameContainer {
    margin: 25px;
  }
}
